{% extends 'albedo/base.html' %}

{% block content %}
<div class="container mt-5 text-center">
  {% if messages %}
        <div style="max-width: 600px; margin: 0 auto 20px;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" style="margin: 0 auto 20px; max-width: 80%;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
  <h3>Письмо с инструкциями отправлено</h3>
  <p>Если введенный email зарегистрирован, вы получите письмо с дальнейшими инструкциями.</p>
  <a href="{% url 'login' %}" class="btn btn-secondary">Вернуться ко входу</a>
</div>
{% endblock %}